@import 'variable';

//style placeholder dans le formulaire de recheche
::placeholder{
  font-family: $font-familly;
  font-weight: bold;
}
.banner{
  background-color: $bg;
}
.bg-container, header, #categorie, #alternatives_demandes, #alternatives, #footer-section{
  margin-left: 140px;
  margin-right: 140px;
}
//style pour navbar
.navbar{
  display: grid;
  grid-template-columns: 45% 55%;
  padding-top: 52px;
  padding-bottom: 60px;
  .site-name{
    font-family: $font-familly;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-transform: lowercase;
  }
  .search-form{
    display:grid;
    grid-template-columns: 70% 30%;
    align-items:center;
    .search-input{
      display:block;
      width:100%;
      height:50px;
      padding:.375rem .75rem;
      font-size:1rem;
      font-weight:400;
      line-height:1.5;
      color:#495057;
      background-color:#fff;
      background-clip:padding-box;
      border:1px solid #ced4da;
      border-radius:.25rem;
      transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
    .search-btn{
      color: white;
      font-family: $font-familly;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $primary_color;
      border-radius: 5px;
      }
  }
}
.section-header{
display: grid;
grid-template-columns: 60% 40%;
.bg-container-column{
  display: flex;
  flex-direction: column;
  .bg-title{
    font-family: $font-familly;
    font-style: normal;
    font-weight: 700px;
    font-size: 48px;
    line-height: 118.8%;
  }
  .photoshop{
    color: $texte_color1;
  }
  .bg-texte{
    width: 400px;
    font-family: $font-familly;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: $texte_color1;
  }
  .decouvrir{
    color: white;
    font-family: $font-familly;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 200px;
    border: none;
    margin: 4px 2px;
    padding: 12px 42px;
    background: $primary_color;
    border-radius: 5px;
  }
}
}

//Categories
.nos-categories{
  background-color: white;
  padding-bottom: 105px;
}
.categories-section{
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 86px;
  .categories-column{
    display: flex;
    flex-direction: column;
    .categories-title{
      font-family: $font-familly;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100.8%;
      color: $color-text1;
    }
    .categories-texte{
      padding-top: 41px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $texte_color1;
    }
  }
  .categories-btn{
    justify-self: end;
    .voir-plus{
      color: $primary_color;
      font-family: $font-familly;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $secondary-color;
      border-radius: 5px;
    }
  }
}

//section card categories
.card{
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}
.categories-card-row{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding-top: 61px;
  .title-categ{
    font-family: $font-familly;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 31px;
  }
  .carre-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #868686;
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    .fa-arrow-right{
      float: right;
      font-size: 30px;
    }
    .carre-vert{
      width: 50px;
      height: 50px;
      background-color: #1DBF73;
      border-radius: 5px;
      .fa-pen{
       color: white;
       margin: 15px;
      }
    }
    .carre-jaune{
      width: 50px;
      height: 50px;
      background-color: #FFE082;
      border-radius: 5px;
      .fa-pen{
       color: white;
       margin: 15px;
      }
    }
    .carre-rose{
      width: 50px;
      height: 50px;
      background-color: #C63882;
      border-radius: 5px;
      .fa-pen{
       color: white;
       margin: 15px;
      }
    }
    .carre-bleu{
      width: 50px;
      height: 50px;
      background-color: #8FF1FF;
      border-radius: 5px;
      .fa-pen{
       color: white;
       margin: 15px;
      }
    }
  }
}

// Alternatives
.alternatives-demandes{
  background-color: $bg;
  padding-bottom: 105px;
}
.alternatives-section{
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 86px;
  .alternatives-column{
    display: flex;
    flex-direction: column;
    .alternatives-title{
      font-family: $font-familly;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100.8%;
      color: $color-text1;
    }
    .alternatives-texte{
      padding-top: 41px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $texte_color1;
    }
  }
  .alternatives-btn{
    justify-self: end;
    .voir-plus{
      color: $primary_color;
      font-family: $font-familly;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $secondary-color;
      border-radius: 5px;
    }
  }
}
// alternatives card row
.nouvelles-alternatives{
padding-bottom: 100px;
}
.alternatives-card-row{
  display: grid;
  grid-template-columns: 33% 33% 1fr;
  grid-gap: 25px;
  padding-top: 50px;
  .card{
    padding: 10px;
    display: grid;
    grid-template-columns: 18% 1fr;
    .icon-vert{
      width: 40px;
      height: 40px;
      background-color: #1DBF73;
      border-radius: 5px;
      .fa-pen{
        color: white;
        margin: 12px;
      }
    }
    .title_alternatives{
      font-family: $font-familly;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }
    .first-column-subtitle-1{
      font-family: $font-familly;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      color: #868686;
    }
  }

}

// Footer
#footer{
  background-color: $bg;
  #footer-section{
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 45% 1fr 25%;
  grid-gap: 10px;
  .alternatives_footer{
    .alternatives-btn{
      justify-self: end;
      .voir-plus{
        color: $primary_color;
        font-family: $font-familly;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        width: 200px;
        border: none;
        margin: 4px 2px;
        padding: 12px 42px;
        background: $secondary-color;
        border-radius: 5px;
      }
    }
    .description_footer{
      padding-top: 18px;
      padding-bottom: 35px;
      font-family: $poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: #868686;

    }
    .site-name{
      font-family: $poppins;
      font-style: normal;
      font-weight: 700;
      font-size: 33px;
      line-height: 50px;
      color: #000000;
    }
    
  }
  .footer_menu{
    .title_menu_footer{
      font-family: $poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
    ul li{
      font-family: $font-familly;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #868686;
    }
  }
}
}

#copyright{
  background-color: black;
  .copyright{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        font-family: $poppins;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
  }
}